@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>

<h2> @{Html.RenderAction("ImageOpen");} </h2>
<img src="file://C:/Users/thoma/Documents/00GitHub/Cellavision_Trial_images/rbcs/681904686HV_002.jpg" />