@model cells.tommydurant2.Models.ImgParameters

<fieldset>
    <h2> RBC Image </h2>
    @*@Html.DisplayFor(Model => Model.ImageFile)*@
    <img src="~/Images/681902589HV_001.jpg" alt="Test" height="500"/>
</fieldset>
