@model cells.tommydurant2.Models.ImgParameters

<fieldset>
    <h2> RBC Image </h2>
    @*@Html.DisplayFor(Model => Model.ImageFile)*@
    <img src="file://C:/Users/thoma/Documents/00GitHub/Cellavision_Trial_images/rbcs/681904686HV_002.jpg"/>
</fieldset>
